# WEB SCRAPING

# a python program to display all the header tags from wikipedia.org and make data frame

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/Main_Page"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

header_tags = []
for i in range(1, 7):
    tags = soup.find_all(f"h{i}")
    for tag in tags:
        header_tags.append((f"h{i}", tag.text.strip()))

df = pd.DataFrame(header_tags, columns=["Header Tag", "Text"])
print(df)

  Header Tag                           Text
0         h1                      Main Page
1         h1           Welcome to Wikipedia
2         h2  From today's featured article
3         h2               Did you know ...
4         h2                    In the news
5         h2                    On this day
6         h2       Today's featured picture
7         h2       Other areas of Wikipedia
8         h2    Wikipedia's sister projects
9         h2            Wikipedia languages

# a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release)

In [65]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

results =soup.find_all('td')

l1=[]
for i in range(1, len(results),5)[0:50]:
    if i== len(results)-1:
        break
    else:
        name= results[i].text.strip().split(".")[-1].strip().split("\n")[0]
        year= results[i].text.strip().split(".")[-1].strip().split("\n")[-1][1:-1]
        rating= results[i+1].text.strip()
        
    l1.append([name,year,rating])    
df=pd.DataFrame(l1,columns=['Movie Titles','Year','Rating'])
print(df)

                                         Movie Titles  Year Rating
0                            The Shawshank Redemption  1994    9.2
1                                       The Godfather  1972    9.2
2                                     The Dark Knight  2008    9.0
3                               The Godfather Part II  1974    9.0
4                                        12 Angry Men  1957    9.0
5                                    Schindler's List  1993    8.9
6       The Lord of the Rings: The Return of the King  2003    8.9
7                                        Pulp Fiction  1994    8.8
8   The Lord of the Rings: The Fellowship of the Ring  2001    8.8
9                     Il buono, il brutto, il cattivo  1966    8.8
10                                       Forrest Gump  1994    8.8
11                                         Fight Club  1999    8.7
12              The Lord of the Rings: The Two Towers  2002    8.7
13                                          Inception  2010    8.7
14                            The Empire Strikes Back  1980    8.7
15                                         The Matrix  1999    8.7
16                                         GoodFellas  1990    8.7
17                    One Flew Over the Cuckoo's Nest  1975    8.6
18                                              Se7en  1995    8.6
19                               Shichinin no samurai  1954    8.6
20                              It's a Wonderful Life  1946    8.6
21                           The Silence of the Lambs  1991    8.6
22                                Saving Private Ryan  1998    8.6
23                                     Cidade de Deus  2002    8.6
24                                       Interstellar  2014    8.6
25                                    La vita è bella  1997    8.6
26                                     The Green Mile  1999    8.6
27                                          Star Wars  1977    8.5
28                         Terminator 2: Judgment Day  1991    8.5
29                                 Back to the Future  1985    8.5
30                      Sen to Chihiro no kamikakushi  2001    8.5
31                                        The Pianist  2002    8.5
32                                             Psycho  1960    8.5
33                                       Gisaengchung  2019    8.5
34                                               Léon  1994    8.5
35                                      The Lion King  1994    8.5
36                                          Gladiator  2000    8.5
37                                 American History X  1998    8.5
38                                       The Departed  2006    8.5
39                                       The Prestige  2006    8.5
40                                           Whiplash  2014    8.5
41                                 The Usual Suspects  1995    8.5
42                                         Casablanca  1942    8.5
43                                     Hotaru no haka  1988    8.5
44                                            Seppuku  1962    8.5
45                                   The Intouchables  2011    8.5
46                                       Modern Times  1936    8.4
47                       Once Upon a Time in the West  1968    8.4
48                              Nuovo Cinema Paradiso  1988    8.4
49                                        Rear Window  1954    8.4

# a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [64]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/india/top-rated-indian-movies/?sort=ir,desc&mode=simple&page=1"
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

results =soup.find_all('td')

l1=[]
for i in range(1, len(results),5)[0:50]:
    if i== len(results)-1:
        break
    else:
        name= results[i].text.strip().split(".")[-1].strip().split("\n")[0]
        year= results[i].text.strip().split(".")[-1].strip().split("\n")[-1][1:-1]
        rating= results[i+1].text.strip()
        
    l1.append([name,year,rating])    
df=pd.DataFrame(l1,columns=['Movie Titles','Year','Rating'])
print(df)

                           Movie Titles  Year Rating
0   Ramayana: The Legend of Prince Rama  1993    8.6
1            Rocketry: The Nambi Effect  2022    8.4
2                               Nayakan  1987    8.4
3                              Gol Maal  1979    8.4
4                           777 Charlie  2022    8.4
5                            Anbe Sivam  2003    8.4
6                     Pariyerum Perumal  2018    8.4
7                              Jai Bhim  2021    8.4
8                           Apur Sansar  1959    8.4
9                              3 Idiots  2009    8.4
10                     Manichitrathazhu  1993    8.3
11                                #Home  2021    8.3
12                      Soorarai Pottru  2020    8.3
13                         Black Friday  2004    8.3
14                    Kumbalangi Nights  2019    8.3
15                    C/o Kancharapalem  2018    8.3
16                     Taare Zameen Par  2007    8.3
17                             Kireedam  1989    8.3
18                               Dangal  2016    8.3
19                               Kaithi  2019    8.3
20                               Jersey  2019    8.3
21                                   96  2018    8.3
22                          Maya Bazaar  1957    8.2
23                            Natsamrat  2016    8.2
24                           Drishyam 2  2021    8.2
25                               Asuran  2019    8.2
26                           Sita Ramam  2022    8.2
27                         Thevar Magan  1992    8.2
28                           Visaaranai  2015    8.2
29                  Sarpatta Parambarai  2021    8.2
30                           Thalapathi  1991    8.2
31                         Nadodikkattu  1987    8.2
32                      Pather Panchali  1955    8.2
33                             Drishyam  2013    8.2
34                         Thani Oruvan  2015    8.2
35                   Jaane Bhi Do Yaaro  1983    8.2
36                         Vada Chennai  2018    8.2
37                            Aparajito  1956    8.2
38                         Sardar Udham  2021    8.2
39                    Khosla Ka Ghosla!  2006    8.2
40                              Anniyan  2005    8.2
41                             Ratsasan  2018    8.1
42                        Chupke Chupke  1975    8.1
43                   Gangs of Wasseypur  2012    8.1
44                             Drishyam  2015    8.1
45                              Peranbu  2018    8.1
46                             Mahanati  2018    8.1
47                       Bangalore Days  2014    8.1
48                                Satya  1998    8.1
49                               Premam  2015    8.1

# python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame

In [66]:
from bs4 import BeautifulSoup
import requests


page=requests.get('https://presidentofindia.nic.in/former-presidents.htm')



soup=BeautifulSoup(page.content)
soup

first_title=soup.find('h3')
first_title
 

first_title.text

first_title=[]
for i in soup.find_all('h3'):
    first_title.append(i.text)
first_title


Term=soup.find('p')
Term

Term.text

Term=[]
for i in soup.find_all('p'):
    Term.append(i.text)
Term



Detail=soup.find('div', class_="presidentListing")
Detail

Detail.text



Detail=[]
for i in soup.find_all('div', class_="presidentListing"):
    Detail.append(i.text)
Detail




import pandas as pd
df=pd.DataFrame({"PresidentiaL List":Detail})
df

                                    PresidentiaL List
0   \nShri Ram Nath Kovind (birth - 1945)\nTerm of...
1   \nShri Pranab Mukherjee (1935-2020)\nTerm of O...
2   \nSmt Pratibha Devisingh Patil (birth - 1934)\...
3   \nDR. A.P.J. Abdul Kalam (1931-2015)\nTerm of ...
4   \nShri K. R. Narayanan (1920 - 2005)\nTerm of ...
5   \nDr Shankar Dayal Sharma (1918-1999)\nTerm of...
6   \nShri R Venkataraman (1910-2009)\nTerm of Off...
7   \nGiani Zail Singh (1916-1994)\nTerm of Office...
8   \nShri Neelam Sanjiva Reddy (1913-1996)\nTerm ...
9   \nDr. Fakhruddin Ali Ahmed (1905-1977)\nTerm o...
10  \nShri Varahagiri Venkata Giri (1894-1980)\nTe...
11  \nDr. Zakir Husain (1897-1969)\nTerm of Office...
12  \nDr. Sarvepalli Radhakrishnan (1888-1975)\nTe...
13  \nDr. Rajendra Prasad (1884-1963) \nTerm of Of...

# a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [67]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the team rankings data
table = soup.find('table', {'class': 'table'})

# Extract the data from the table
rows = table.find_all('tr')[1:11]
data = []
for row in rows:
    cols = row.find_all('td')
    team = cols[1].text.strip()
    matches = cols[2].text.strip()
    points = cols[3].text.strip()
    rating = cols[4].text.strip()
    data.append([team, matches, points, rating])

# Create a Pandas data frame from the extracted data
df = pd.DataFrame(data, columns=['Team', 'Matches', 'Points', 'Rating'])

# Display the data frame
print(df)

               Team Matches Points Rating
0    Australia\nAUS      35  3,965    113
1        India\nIND      47  5,294    113
2   New Zealand\nNZ      30  3,367    112
3      England\nENG      36  3,988    111
4     Pakistan\nPAK      25  2,649    106
5  South Africa\nSA      29  2,919    101
6   Bangladesh\nBAN      38  3,625     95
7     Sri Lanka\nSL      35  3,037     87
8   West Indies\nWI      43  3,105     72
9  Afghanistan\nAFG      20  1,419     71

# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [68]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the top 10 ODI batsmen data
table = soup.find('table', {'class': 'table rankings-table'})

# Extract the data from the table
rows = table.find_all('tr')
data = []
for row in rows[1:11]:
    cols = row.find_all('td')
    name = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    data.append([name, team, rating])

# Create a Pandas data frame from the extracted data
df = pd.DataFrame(data, columns=['Name', 'Team', 'Rating'])

# Display the data frame
print(df)

                    Name Team Rating
0             Babar Azam  PAK    887
1  Rassie van der Dussen   SA    777
2            Imam-ul-Haq  PAK    740
3        Quinton de Kock   SA    740
4           Shubman Gill  IND    738
5           David Warner  AUS    726
6            Virat Kohli  IND    719
7           Rohit Sharma  IND    707
8            Steve Smith  AUS    702
9           Fakhar Zaman  PAK    699

# Top 10 ODI bowlers along with the records of their team and rating

In [69]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the ODI bowlers' data
table = soup.find('table', {'class': 'table rankings-table'})

# Extract the data from the table
rows = table.find_all('tr')
data = []
for row in rows[1:11]:
    cols = row.find_all('td')
    player = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    data.append([player, team, rating])

# Create a Pandas data frame from the extracted data
df = pd.DataFrame(data, columns=['Player', 'Team', 'Rating'])

# Display the data frame
print(df)

             Player Team Rating
0    Josh Hazlewood  AUS    705
1       Trent Boult   NZ    701
2    Mohammed Siraj  IND    691
3    Mitchell Starc  AUS    686
4       Rashid Khan  AFG    659
5        Adam Zampa  AUS    652
6    Shaheen Afridi  PAK    641
7  Mujeeb Ur Rahman  AFG    637
8   Shakib Al Hasan  BAN    636
9        Matt Henry   NZ    635

# a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [70]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the women's ODI team rankings data
table = soup.find('table', {'class': 'table'})

# Extract the data from the table
rows = table.find_all('tr')
data = []
for row in rows[1:11]:
    cols = row.find_all('td')
    team = cols[1].text.strip()
    matches = cols[2].text.strip()
    points = cols[3].text.strip()
    rating = cols[4].text.strip()
    data.append([team, matches, points, rating])

# Create a Pandas data frame from the extracted data
df = pd.DataFrame(data, columns=['Team', 'Matches', 'Points', 'Rating'])

# Display the data frame
print(df)

               Team Matches Points Rating
0    Australia\nAUS      21  3,603    172
1      England\nENG      28  3,342    119
2  South Africa\nSA      26  3,098    119
3        India\nIND      27  2,820    104
4   New Zealand\nNZ      25  2,553    102
5   West Indies\nWI      27  2,535     94
6   Bangladesh\nBAN      13    983     76
7     Thailand\nTHA       8    572     72
8     Pakistan\nPAK      27  1,678     62
9     Sri Lanka\nSL       8    353     44

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [71]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Send a GET request to the website
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the women's ODI batting players' data
table = soup.find('table', {'class': 'table rankings-table'})

# Extract the data from the table
rows = table.find_all('tr')
data = []
for row in rows[1:11]:
    cols = row.find_all('td')
    name = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    data.append([name, team, rating])

# Create a Pandas data frame from the extracted data
df = pd.DataFrame(data, columns=['Player', 'Team', 'Rating'])

# Display the data frame
print(df)

                Player Team Rating
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7       Rachael Haynes  AUS    680
8  Chamari Athapaththu   SL    655
9    Amy Satterthwaite   NZ    641

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [72]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the top 10 all-rounders' data
table = soup.find('table', {'class': 'table'})

# Extract the data from the table
rows = table.find_all('tr')
data = []
for row in rows[1:11]:
    cols = row.find_all('td')
    name = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    data.append([name, team, rating])

# Create a Pandas data frame from the extracted data
df = pd.DataFrame(data, columns=['Name', 'Team', 'Rating'])

# Display the data frame
print(df)

               Name Team Rating
0   Hayley Matthews   WI    373
1    Natalie Sciver  ENG    371
2      Ellyse Perry  AUS    366
3    Marizanne Kapp   SA    349
4       Amelia Kerr   NZ    336
5     Deepti Sharma  IND    322
6  Ashleigh Gardner  AUS    292
7     Jess Jonassen  AUS    250
8          Nida Dar  PAK    232
9    Jhulan Goswami  IND    214

# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data frame
i) Headline
ii) Time
iii) News Link

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.cnbc.com/world/?region=world'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

headlines = []
times = []
links = []

for article in soup.find_all('div', class_='Card-title'):
    headline = article.find('a').get_text(strip=True)
    link = article.find('a')['href']
    time = article.find('time', class_='Card-time')['datetime']
    
    headlines.append(headline)
    links.append(link)
    times.append(time)

df = pd.DataFrame({'Headline': headlines, 'Time': times, 'News Link': links})
print(df)

Empty DataFrame
Columns: [Headline, Time, News Link]
Index: []

# Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data framei) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles?fromDate=2022-02-01&toDate=2022-04-30"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

articles = soup.find_all("div", {"class": "pod-listing-header"})

data = []

for article in articles:
    title = article.find("a").text
    url = article.find("a")["href"]
    authors = article.find("ul", {"class": "authors"}).text.strip()
    date = article.find("span", {"class": "date"}).text.strip()

    data.append([title, authors, date, url])

df = pd.DataFrame(data, columns=["Paper Title", "Authors", "Published Date", "Paper URL"])

print(df)

Empty DataFrame
Columns: [Paper Title, Authors, Published Date, Paper URL]
Index: []

# Write a python program to scrape mentioned details from dineout.co.in and make data framei) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.dineout.co.in/delhi-restaurants"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

restaurants = soup.find_all("div", {"class": "restnt-info"})

data = []

for restaurant in restaurants:
    name_elem = restaurant.find("div", {"class": "restnt-name"})
    if name_elem is not None:
        name = name_elem.text.strip()
    else:
        name = "N/A"
    
    cuisine_elem = restaurant.find("div", {"class": "restnt-cuisine"})
    if cuisine_elem is not None:
        cuisine = cuisine_elem.text.strip()
    else:
        cuisine = "N/A"
    
    location_elem = restaurant.find("div", {"class": "restnt-loc"})
    if location_elem is not None:
        location = location_elem.text.strip()
    else:
        location = "N/A"
    
    rating_elem = restaurant.find("span", {"class": "rat-dig"})
    if rating_elem is not None:
        rating = rating_elem.text.strip()
    else:
        rating = "N/A"
    
    image_elem = restaurant.find("div", {"class": "restnt-thumb"})
    if image_elem is not None:
        image_url = image_elem["data-original"]
    else:
        image_url = "N/A"
    
    data.append([name, cuisine, location, rating, image_url])

df = pd.DataFrame(data, columns=["Restaurant Name", "Cuisine", "Location", "Ratings", "Image URL"])

print(df)

   Restaurant Name Cuisine                                      Location  \
0              N/A     N/A                Connaught Place, Central Delhi
1              N/A     N/A  Scindia House,Connaught Place, Central Delhi
2              N/A     N/A        M-Block,Connaught Place, Central Delhi
3              N/A     N/A                Connaught Place, Central Delhi
4              N/A     N/A                Connaught Place, Central Delhi
5              N/A     N/A                Connaught Place, Central Delhi
6              N/A     N/A                Connaught Place, Central Delhi
7              N/A     N/A                Connaught Place, Central Delhi
8              N/A     N/A        F-Block,Connaught Place, Central Delhi
9              N/A     N/A                Connaught Place, Central Delhi
10             N/A     N/A                Connaught Place, Central Delhi
11             N/A     N/A                Connaught Place, Central Delhi
12             N/A     N/A                Connaught Place, Central Delhi
13             N/A     N/A        M-Block,Connaught Place, Central Delhi
14             N/A     N/A                Connaught Place, Central Delhi
15             N/A     N/A                Connaught Place, Central Delhi
16             N/A     N/A                Connaught Place, Central Delhi
17             N/A     N/A                Connaught Place, Central Delhi
18             N/A     N/A        M-Block,Connaught Place, Central Delhi
19             N/A     N/A                Connaught Place, Central Delhi
20             N/A     N/A                Connaught Place, Central Delhi

   Ratings Image URL
0      N/A       N/A
1      N/A       N/A
2      N/A       N/A
3      N/A       N/A
4      N/A       N/A
5      N/A       N/A
6      N/A       N/A
7      N/A       N/A
8      N/A       N/A
9      N/A       N/A
10     N/A       N/A
11     N/A       N/A
12     N/A       N/A
13     N/A       N/A
14     N/A       N/A
15     N/A       N/A
16     N/A       N/A
17     N/A       N/A
18     N/A       N/A
19     N/A       N/A
20     N/A       N/A